home_download_mac.hbs<div id="modload" class ="download-div">
    <a id="modload-link" href="/downloads/forge/forge-1.7.10-10.13.4.1558-1.7.10-installer.jar">
        <img id="modpack-img" src="/images/win.png">
        <div class = "download-div-info">
            <span id="modload-info">Modloader for Windows</span>
        </div>
    </a>
</div>
