<form action="/usr/signup" method="POST">
    <input type="text" name="username" placeholder="username" value=""><br>
    <input type="password" name="password" placeholder="password" value=""><br>
    <input type="email" name="email" placeholder="email" value=""><br>
    <input type="text" name="first" placeholder="First Name" value=""><br>
    <input type="text" name="last" placeholder="Last Name" value=""><br>
    <input type="text" name="mc_name" placeholder="minecraft name" value=""><br>
    <button type="button" onclick="closeModal(this)">cancel</button>
    <button>sign up</button>
</form>