<div class="content">
    {{# if user.info.verified }}

        {{# if user.info.rules}}
            rules accepted
        {{ else }}
            rules not accepted

            <a href="javascript:void(0)" onclick="showModal('rules-modal')"> accept rules</a>
            {{> rules_modal }}

        {{/if}}

    {{else}}

        please verify email
        <a href="/usr/{{ user.local.username }}/verify/{{ user.info.verify_string }}">verify</a>

    {{/if}}

</div>
