:root{
    --header-height: 3em;
    --nav-border-width: 2px;

    --nav-column-background-width: 10em;

    --nav-column-width: calc(var(--nav-column-background-width) - var(--nav-border-width));


    --content-padding: 1em;

    --dark-text-color: black;
    --light-text-color: white;

    --header-background: darkgrey;
    --header-hover: white;

    --navigation-background: lightgrey;

    --content-background: white;

    --navigaton-div-border: black;

    --modal-background: rgba(255, 255, 255, 0.5);


    --dynmap-width: calc( 100% - ( var(--nav-column-width) - 2em ) );
    /*--dynmap-height:;*/


}



body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    
}

.header {
    /* temp styling for layout visibility */
    background-color: var(--header-background);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-bottom: solid var(--nav-border-width) black;


    height: calc(var(--header-height) - var(--nav-border-width));
    padding: auto;
    margin-bottom: 0;



    z-index: 500;

}

.content {

    /* temp styling for layout visibility */
    background-color: var(--content-background);
    /*border: solid 2px black;*/

    position: absolute;
    top: var(--header-height);
    left: var(--nav-column-width);

    width: calc(100% - var(--nav-column-width) - calc(var(--content-padding) * 2));
    min-height: calc(100% - var(--header-height) - calc(var(--content-padding) * 2));

    padding: var(--content-padding);
}

/* css for user drop down and login/logout */

.dropbtn {
    background-color: var(--header-background);
    color: var(--light-text-color);
    height: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;

    margin: 0;
    padding-right: 1em;
    padding-left: 1em;

}

.dropbtn:hover {
    background-color: var(--header-hover);
}

.header-btn-right {
    float: right;
}

.header-btn-left {
    float: left;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: auto 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 500;
}

.dropdown-content a {
    color: var(--dark-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--header-hover);
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow: hidden;*/
    background-color: var( --header-background);
}

li.nav-bar {
    float: left;
    border-right:1px solid #bbb;
}

li.nav-bar:last-child {
    border-right: none;
}

.nav-bar li a {
    display: block;
    color: var(--dark-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover:not(.active) {
    background-color: darkgrey;
}

/* css for modals */

.modal {
    display: none;
    
    position: fixed;
    background-color: var(--modal-background);

    text-align: center;

    left: 0;
    top: 0;
    right: 0;
    
    height: 100%;

    z-index: 100;
}

.modal-content {

    display: inline-block;

    margin: 5em auto;
    /*width: 50%;*/
    padding: 1em;
    background-color: #f1f1f1;

    border: solid 1px black;

    z-index: 200;
}

.rules-modal-content {

}

#rules-modal-text {
    width: 70vw;
    height: 50vh;

    background-color: white;
    border: solid black 1px;

    resize: none;
}

#rules-modal-text em {
    font-style: italic;
}


/*        css for navigatin column       */

.navigation {

    /* temp styling for layout visibility */
    background-color: var(--navigation-background);

    border-right: solid var(--nav-border-width) var(--navigaton-div-border);

    position: fixed;
    /*top: calc(0 - var(--header-height));*/
    top: var(--header-height);
    left: 0;
    height: 100%;
    width: var(--nav-column-width);

    z-index: 400;

}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: var(--nav-column-width);
    background-color: var(--navigation-background);
}

.navigation li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.navigation li a:hover {
    background-color: #555;
    color: white;
}

/* css for dunmap */

#dynmap {
    width: 100%;
    height: calc(100vh - var(--header-height) - 2em );
}


.download-view {
    /*display: none;*/
    /*position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--content-background);
    z-index: 20;
}

.download-view-content {
    /*display: none;*/
    position: relative;
    margin: 8em auto;
    border: 2px solid var(--navigaton-div-border);
    background: var(--content-background);
    width: 38em;
    height: 15em;
}

.download-view-text {
    position: relative;
    display: inline-block;

    top: 3em;
    left: 1em;
}

.download-div a {
    display: inline-block;

    /*display: block;*/
    width: 100%;
    height: 100%;
    color: var(--dark-text-color);
    border: 2px solid var(--navigaton-div-border);
}

.download-div {
    /*display: inline-block;*/

    height: 75px;
    width: 570px;
    background-color: var(--content-background);
    border: 2px solid var(--navigaton-div-border);
    margin-bottom: 1em;
}

.download-div-main {
    position: absolute;
    /*display: inline-block;*/

    right: 0%;
    left: 220px;
    background:#F0F0F0;
    border: 2px solid var(--navigaton-div-border);
    /*width: 70%;*/
    min-width: 800px;
    /*margin-right: 40px;*/
    text-align: left;
    padding: 25px;
}

#modload {
    /*display: inline-block;*/

}

#modload-link img {
    /*display: inline-block;*/
    margin: .5em;
}

#modload-img {
    /*display: inline-block;*/
    margin: .5em;
}

#modpack-img {
    /*display: inline-block;*/
    margin: .5em;
}
