<div id="login-modal" class="modal">
    <div class="modal-content">
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username" value=""><br>
            <input type="password" name="password" placeholder="password" value=""><br>
            <button type="button" onclick="closeModal(this)">cancel</button>
            <button>Login</button>
        </form>
    </div>
</div>
