<div id="signup-modal" class="modal">
    <div class="modal-content">
        <form action="/usr/signup" method="POST">
            <input type="text" name="username" placeholder="username" value="asouer"><br>
            <input type="password" name="password" placeholder="password" value="souera"><br>
            <input type="email" name="email" placeholder="email" value="asouer@gmail.com"><br>
            <input type="text" name="first" placeholder="First Name" value="Aaron"><br>
            <input type="text" name="last" placeholder="Last Name" value="Souer"><br>
            <input type="text" name="mc_name" placeholder="minecraft name" value="asouer"><br>
            <button type="button" onclick="closeModal(this)">cancel</button>
            <button>sign up</button>
        </form>
    </div>
</div>
